_targets/meta filter=lfs diff=lfs merge=lfs -text
_targets/objects filter=lfs diff=lfs merge=lfs -text
_targets/objects/stan_data filter=lfs diff=lfs merge=lfs -text
_targets/objects/data filter=lfs diff=lfs merge=lfs -text
_targets/objects/group_data filter=lfs diff=lfs merge=lfs -text
_targets/objects/model filter=lfs diff=lfs merge=lfs -text
_targets/objects/model_output filter=lfs diff=lfs merge=lfs -text
_targets/objects/posterior_summary filter=lfs diff=lfs merge=lfs -text
_targets/objects/raw_data filter=lfs diff=lfs merge=lfs -text
raw_data/RLE_2021_Remnants filter=lfs diff=lfs merge=lfs -text
raw_data/VEGMAP2018_AEA_16082019Final filter=lfs diff=lfs merge=lfs -text
raw_data/** filter=lfs diff=lfs merge=lfs -text
data/postfire.csv filter=lfs diff=lfs merge=lfs -text
data/remnant_distance.tif filter=lfs diff=lfs merge=lfs -text
data/remnants.tif filter=lfs diff=lfs merge=lfs -text
data/vegmap.gpkg filter=lfs diff=lfs merge=lfs -text
data/zaf_adm_sadb_ocha_20201109_SHP filter=lfs diff=lfs merge=lfs -text
data/domain.gpkg filter=lfs diff=lfs merge=lfs -text
data/other_data filter=lfs diff=lfs merge=lfs -text
data/south_africa.gpkg filter=lfs diff=lfs merge=lfs -text
data/fynbos.gpkg filter=lfs diff=lfs merge=lfs -text
data/alos filter=lfs diff=lfs merge=lfs -text
data/model_data.csv filter=lfs diff=lfs merge=lfs -text
data/alos/alos_chili.tif filter=lfs diff=lfs merge=lfs -text
data/alos/alos_mtpi.tif filter=lfs diff=lfs merge=lfs -text
data/alos/alos_topographic_diversity.tif filter=lfs diff=lfs merge=lfs -text
data/alos/landforms.tif filter=lfs diff=lfs merge=lfs -text
data/other_data/domain_extent.RDS filter=lfs diff=lfs merge=lfs -text
*.shp filter=lfs diff=lfs merge=lfs -text
*.dbf filter=lfs diff=lfs merge=lfs -text
*.gdb* filter=lfs diff=lfs merge=lfs -text
*.gdbtable filter=lfs diff=lfs merge=lfs -text
data/manual_downloads/* filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.gpkg filter=lfs diff=lfs merge=lfs -text
_targets/objects/burn_date_to_last_burned_date_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/correct_fire_release_proj_and_extent filter=lfs diff=lfs merge=lfs -text
_targets/objects/country filter=lfs diff=lfs merge=lfs -text
_targets/objects/projected_alos_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/projected_landcover_za_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/remnant_distance_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/remove_ee_backup filter=lfs diff=lfs merge=lfs -text
_targets/objects/stable_data_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/fire_doy_to_unix_date_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/precipitation_chelsa_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/sanbi_fires_shp filter=lfs diff=lfs merge=lfs -text
_targets/objects/vegmap filter=lfs diff=lfs merge=lfs -text
_targets/objects/clouds_wilson_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/correct_ndvi_release_proj_and_extent filter=lfs diff=lfs merge=lfs -text
_targets/objects/domain filter=lfs diff=lfs merge=lfs -text
_targets/objects/kndvi_modis_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/ndvi_modis_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/projected_soil_gcfr_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/protected_area_distance_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/correct_kndvi_release_proj_and_extent filter=lfs diff=lfs merge=lfs -text
_targets/objects/correct_ndvi_dates_release_proj_and_extent filter=lfs diff=lfs merge=lfs -text
_targets/objects/most_recent_fire_dates_to_parquet_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/ndvi_dates_viirs_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/ndvi_relative_days_since_fire_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/ndvi_viirs_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/projected_climate_chelsa_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/correct_ndvi_dates_viirs_release_proj_and_extent filter=lfs diff=lfs merge=lfs -text
_targets/objects/mean_ndvi_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/climate_chelsa_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/correct_ndvi_viirs_release_proj_and_extent filter=lfs diff=lfs merge=lfs -text
_targets/objects/fire_dates_to_parquet_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/ndvi_to_parquet_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/projected_clouds_wilson_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/elevation_nasadem_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/ndvi_dates_modis_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/projected_elevation_nasadem_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/remnants_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/alos_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/fire_modis_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/projected_precipitation_chelsa_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/template_release filter=lfs diff=lfs merge=lfs -text
_targets/objects/vegmap_modis_proj filter=lfs diff=lfs merge=lfs -text
data/raw_data/* filter=lfs diff=lfs merge=lfs -text
data/manual_download filter=lfs diff=lfs merge=lfs -text
data/** filter=lfs diff=lfs merge=lfs -text
_targets/metadata/* filter=lfs diff=lfs merge=lfs -text
